/* Fontawesome */
@import url('https://use.fontawesome.com/releases/v5.6.3/css/all.css');

/* Importing all components file */
@import url("components/banner.css");
@import url("components/card.css");
@import url("components/footer.css");

/* Write some CSS below */
body {
  font-family: Overpass;
  margin: 0;
  font-size: 18px;
}

h1, h2, h3 {
  color: #404042;
  font-family: Chivo;
}

p {
  color: #404042;
}

.container {
  width: 800px;
  margin: auto;
}

/* Container media queries */
@media (min-width: 500px) {
  .container {
    width: 400px;
  }
}

@media (min-width: 800px) {
  .container {
    width: 600px;
  }
}

@media (min-width: 1000px) {
  .container {
    width: 800px;
  }
}